
.custom-shape-divider-bottom-1692563229 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1692563229 svg {
  position: relative;
  display: block;
  width: calc(102% + 1.3px);
  height: 62px;
}

.custom-shape-divider-bottom-1692563229 .shape-fill {
  fill: #ff8147;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1692563229 svg {
    width: calc(214% + 1.3px);
    height: 62px;
  }
}
.buri2 {
}
.button {
  width: 40px;
  height: 40px;

  float: right;
  margin: 10px;
  display: none;
  position: absolute;
  margin-left: 90%;
}

.button img {
  width: 50px;
  height: 50px;
}
.button :hover {
  background-color: rgb(219, 219, 219);
}
@media (max-width: 1020px) {
  .button {
    display: flex;
  }
  nav a {
    display: none;
  }
}
body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(251, 249, 245);
}
hr {
  color: rgb(125, 125, 125);
  background-color: rgb(255, 92, 17);
  height: 4px;
  margin: 0px;
  padding: 0px;
}
.bluck {
  height: 18px;
  background-color: rgb(255, 255, 255);
}
.w {
  color: rgb(125, 125, 125);
  background-color: rgb(255, 92, 17);
  height: 100px;
  margin: 0px;
  padding: 0px;
}
.container {
  width: 400px;
  flex-direction: column;
  float: left;
  background-color: white;
}
h1 {
  margin: 0px;

  color: rgb(255, 129, 71);
  margin-left: 30px;
  font-family: "Victor Mono", monospace;
  padding: 10px;
}
.logo {
  margin-left: 10px;
  width: 50px;
  float: left;
  padding: 10px;
}
ul {
  float: right;
  margin: 10px;
}

 a {
  text-decoration: none;
  background-color: ;
  
  font-size: 21px;
  margin-left: 30px;
  margin-right: 30px;
  color: #000000;
  font-family: "Victor Mono", monospace;
  padding: 20px;
  
  border-radius: 10px;
  
}
ul a:hover {
  color: rgb(255, 255, 255);
}
header {
  background-color: white;
  width: cover;

  height: 80px;
}
.hero {
  background-image: url(bilder/wal3);
  background-position: center;

  height: 650px;
}
.hero div {
  width: cover;
  
}
.hero h2 {
  margin-bottom: 0px;
  margin-top: 0%;
  text-decoration: none;
  font-size: 24px;
  margin-left: 30px;
  margin-right: 30px;
  color: rgb(255, 129, 71);
  font-family: "Victor Mono", monospace;
}
.hero .välkommen {
  margin-top: 0%;
  text-decoration: none;
  font-size: 40px;
  margin-left: 30px;
  margin-right: 30px;
  color: rgb(255, 129, 71);
  font-family: "Victor Mono", monospace;
}
.hero p {
  margin-bottom: 10px;
  margin-left: 30px;
  margin-top: 0px;
  font-size: 20px;
  color: rgb(243, 168, 55);
  font-family: "Victor Mono", monospace;
}
.div3 img {
  margin-top: 20px;
  width: 100px;
  margin-left: 30px;
}
.div33 {
  display: grid;
  place-items: center;
}
.div3 {
  width: 400px;
}

.div4 {
  float: left;
  float: top;
  width: 300px;
}

div  ul a {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: "Victor Mono", monospace;
  box-shadow: 0 0 10px black;
  text-align: center;
  background-color: rgb(255, 129, 71);
  border-radius: 5px;
}

.produkter {
  width: 100%;
  height: 700px;
  background-color: rgb(255, 255, 255);
}
.h12 {
  font-size: 40px;
  font-family: "Bebas Neue", sans-serif;
  color: rgb(255, 129, 71);
  float: none;
}
.pdiv1 {
  margin-left: 30px;
  width: 90%;
  height: 500px;
  background-color: rgb(255, 255, 255);
}

.bild1 {
  width: 300px;
  float: left;
  margin-left: 30px;
}
.bild2 {
  margin-left: 30px;
  width: 300px;
}
.h13 {
  float: none;
  color: rgb(0, 0, 0);
  font-family: "Handjet", cursive;
  font-size: 35px;
}
.produkter p {
  margin-left: 30px;
  font-size: 20px;
  font-family: "Victor Mono", monospace;
  color: rgb(0, 0, 0);
}

.process {
  height: 900px;
  background-color: rgb(255, 92, 17);
}
.div1b {
  margin-right: 14px;
  margin-left: 14px;
  height: 700px;
  background-color: #ffaa82;
  display: grid;
  place-content: center;
  border-radius: 20px;
}

.div1b h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Victor Mono", monospace;
}
.div1b img {
  width: 150px;
  padding: 20px;
}
.div2b {
  height: 400px;
  width: 100%;
  padding: 10px;
}

.slideshow-container {
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  
  display: grid;
  place-items: center;
}

.slide {
  display: block;
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Adjust the transition duration as needed */
}

.slideshow-container img {
  width: 100%;
  height: auto;
  border-radius: 70px;
  box-shadow: 0 0 10px rgb(255, 92, 17);
}

.fade {
  opacity: 1;
}
.flexhero{

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
}
.texthero{
    width: 500px;
    float: left;
    margin-left: 14%;
    animation: slideInLeft 1s ease-in 0s 1 normal both;
    transform: translateX(-700px);    
}
@keyframes slideInLeft {
    from{
        transition: translateX(-3000px);
    }

    to {
        transform: translateX(0px);
    }
    
}

.tjockisknapp{
    border-style: solid;
    border-color: #ff8147;
    position: absolute;

    color: rgb(255, 255, 255);
    padding: 10px;
    
    box-shadow: 0 0 10px rgb(255, 255, 255);

}
 a:hover{
    background-color: #ff8147;
    color: white;
    transform: translateY(-10px);
    transition-property: all;
    transition-duration: 1s;

}
@media (max-width: 1000px){
    .flexhero{
        display: grid;
        place-items: center;
        text-align: center;
        
    }
    .texthero{
        display: grid;
        place-items: center;
        
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
        .div3 img{
            margin-left: 0px;
        }
    .hero{
        height: 950px;
    }    
}